$color-primary: #364f6b;
$color-primary-light: #8695a6;
$color-primary-dark: #2b3f56;

$color-secondary: #3fc1c9;
$color-secondary-dark: #2c878d;
$color-secondary-light: #c3ecee;

$color-tertiary: #fc5185;
$color-tertiary-dark: #b0395d;
$color-tertiary-light: #fea8c2;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-green: #24d16c;
$color-green-dark: #0fd160;
$color-red: #fc3232;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-black: #000;
$color-white: #fff;

$font-main: 'Montserrat', sans-serif;

$bp-largest: 75em;      // 1200 px
$bp-large: 68.75em;     // 1100 px
$bp-medium: 50em;       // 800 px
// $bp-small: 37.5em;   // 600 px
// $bp-smallest: 31.25em; // 500 px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   // 1 rem = 10 px, 10 px / 16 px = 62.5%
}

body {
    font-family: $font-main;
    font-weight: 400;
    line-height: 1.6;
    max-width: 120rem;
    margin: 2rem auto 2rem;
    padding: 0 2rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        padding: 0;
    }
}