h1 {
    font-size: 5rem;
    color: $color-grey-dark-1;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-left: 4rem;
}

.container {
    background-color: $color-grey-light-1;
    padding: 2rem 4rem 2rem;
    margin: 2rem 0;
}

.first-paragraph {
    font-size: 1.6rem;
    text-align: justify;
    color: $color-grey-dark-1;
    letter-spacing: .2rem;
    margin-top: 2rem;
    position: relative;

    &__link:link,
    &__link:visited {
        color: $color-tertiary;
        text-decoration: none;
        transition: all .2s;
    }

    &__link:hover {
        color: $color-tertiary-dark;
    }

    &__list {
        font-size: 1.6rem;
        text-align: left;
        color: $color-grey-dark-1;
        letter-spacing: .2rem;
        margin: 2rem 0 0rem 2.4rem;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-right: 4rem;
    }
}

.card {
    margin-bottom: 4rem;
    transition: all, .2s;
    height: 35rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    overflow: hidden;
    position: relative;

    &__image {
        background-size: cover;
        max-width: 35rem;
    }

    &__heading {
        font-size: 3rem;
        color: $color-grey-dark-1;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: .1rem;
        position: absolute;
        top: 18rem;
        right: 2rem;
        
    }

    &__list {
        background-color: lavender;

        & [class*="--item"] {
            background-color: lawngreen;
        }
    }

    &:hover {
        transform: scale(1.05);
    }

    &__heading-span {
        padding: 0 1rem;
        background-image: linear-gradient(
            to right bottom,
            rgba($color-secondary-light, .75),
            rgba($color-secondary, .75));
    }
}