h1 {
    font-size: 5rem;
    color: $color-grey-dark-1;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-left: 4rem;
}

.secondary-heading {
    font-size: 3rem;
    color: $color-grey-dark-1;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-left: 4rem;
}

.container {
    background-color: $color-grey-light-1;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    padding: 2rem 4rem 2rem;
    margin: 0;
}

.first-paragraph {
    font-size: 1.6rem;
    text-align: justify;
    color: $color-grey-dark-1;
    letter-spacing: .2rem;
    margin: 2rem 4rem 2rem;
    position: relative;

    &__link:link,
    &__link:visited {
        color: $color-tertiary;
        text-decoration: none;
        transition: all .2s;
    }

    &__link:hover {
        color: $color-tertiary-dark;
    }

    &__list {
        font-size: 1.6rem;
        text-align: left;
        color: $color-grey-dark-1;
        letter-spacing: .2rem;
        margin: 2rem 0 0rem 2.4rem;
    }
}

.cards {
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-flex;
    gap: 1rem;
    margin: 2rem 0 0;
    width: 100%;
}

.card {
    transition: all, .2s;
    height: 44rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;

    &__image {
        background-size: cover;
        max-width: 35rem;
        margin-bottom: 1rem;
    }

    &__heading {
        font-size: 3rem;
        color: $color-grey-dark-1;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: .1rem;
        position: absolute;
        top: 18rem;
        right: 2rem;
        
    }

    &__list {
        list-style: none;
        width: 80%;
        margin: 0 auto;

        & [class*="--item"] {
            color: $color-grey-dark-3;
            text-align: center;
            font-size: 1.6rem;
            padding: 1.5rem 1rem;
            position: relative;

            &:not(:last-child):before {
                content: "";
                position: absolute;
                left: 25%;
                bottom: 0;
                height: 1px;
                width: 50%;
                border-bottom: 1px solid $color-tertiary-light;
            }
        }

        &--item-episode {
            font-size: 2.5rem !important;
            text-transform: uppercase;
            font-weight: 600;
            color: $color-grey-dark-2 !important;
        }
    }

    &__link {
        text-transform: uppercase;
        font-weight: 500;
        color: $color-secondary-dark;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            color: $color-secondary;

        }
    }

    &__value {
        color: $color-grey-dark-1;
        font-weight: 600;
    }

    &__jug-meter {
        color: $color-grey-dark-1;
        font-weight: 700;
        padding: 0 .5rem;
        background-image: linear-gradient(
            to right bottom,
            rgba($color-tertiary-light, .75),
            rgba($color-tertiary, .75));
    }

    &:hover {
        transform: scale(1.05);
    }

    &__heading-span {
        padding: 0 1rem;
        background-image: linear-gradient(
            to right bottom,
            rgba($color-secondary-light, .75),
            rgba($color-secondary, .75));
    }
}

.login,
.register,
.forgot-password {
    &__form {
        padding: 2rem 4rem 2rem;
    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__label {
        font-size: 1.5rem;
        font-weight: 400;
        margin: .7rem 0 0 2rem;
        display: block;
        transition: all .2s ease-in-out;
        color: $color-grey-dark-3;
    }

    &__input {
        font-size: 2rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        background-color: rgba($color-secondary-light, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 40rem;

        transition: border-bottom .2s;

        &::placeholder {
            color: $color-grey-dark-2;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-secondary-light;

            &:invalid {
                border-bottom: 3px solid $color-tertiary;
            }

            &:valid {
                border-bottom: 3px solid $color-green;
            }
        }
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);
    }

    &__button {
        width: 20rem;
        height: 4rem;
        text-align: left;
        font-size: 1.5rem;
        font-family: inherit;
        letter-spacing: .1rem;
        color: inherit;
        padding-left: 2rem;
        margin-bottom: 2rem;
        border: solid 2px $color-secondary-dark;
        background-color: $color-grey-light-1;
        transition: all .2s ease-in-out;

        & span {
            font-size: 2rem;
            font-weight: 700;
            margin-left: .1rem;
            transition: margin-left .2s;
        }

        &:hover {
            border: solid 2px $color-tertiary;
            transform: translateY(-.2rem);
            box-shadow: 0 1rem 2rem rgba($color-black, .1);

            span {
                margin-left: 1.5rem;
            }
        }
    }
}