h1 {
    font-size: 5rem;
    color: $color-grey-dark-1;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-left: 4rem;
}

.secondary-heading {
    font-size: 3rem;
    color: $color-grey-dark-1;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-left: 4rem;
}

.modified {
    font-size: 1.2rem;
    color: $color-grey-dark-2;
    letter-spacing: .2rem;
    margin-left: 4rem;
}

.container {
    background-color: $color-grey-light-1;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    padding: 2rem 4rem 2rem;
    margin: 0;

    &--bottom {
        background-color: $color-white;
    }

    &--comment {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
        box-shadow: 0 0 3rem rgba($color-black, .1);
    }
}

.text-center {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 35rem);
    justify-content: space-between;
    grid-gap: 1rem;
    margin: 2rem 0 0;
    width: 100%;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(auto-fill, 49%);
    }
}

.card {
    transition: all, .2s;
    height: 44rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-large) {
        height: 56rem;
    }

    &__image {
        background-size: cover;
        max-width: 35rem;
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-large) {
            max-width: 100%;
        }
    }

    &__heading {
        font-size: 3rem;
        color: $color-grey-dark-1;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: .1rem;
        position: absolute;
        top: 18rem;
        right: 2rem;
        
        @media only screen and (max-width: $bp-large) {
            top: 25rem;
            font-size: 4rem;
        }

        @media only screen and (max-width: $bp-medium) {
            top: 30%;
            font-size: 4rem;
        }
    }

    &__list {
        list-style: none;
        width: 80%;
        margin: 0 auto;
        position: relative;
        font-size: 1.6rem;

        & [class*="--item"] {
            color: $color-grey-dark-3;
            text-align: center;
            padding: 1.5rem 1rem;
            position: relative;

            &:not(:last-child):before {
                content: "";
                position: absolute;
                left: 25%;
                bottom: 0;
                height: 1px;
                width: 50%;
                border-bottom: 1px solid $color-tertiary-light;
            }
        }

        &--item-episode {
            font-size: 2.5rem !important;
            text-transform: uppercase;
            font-weight: 600;
            color: $color-grey-dark-2 !important;
        }
    }

    &__link {
        text-transform: uppercase;
        font-weight: 500;
        color: $color-secondary-dark;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            color: $color-secondary;

        }
    }

    &__value {
        color: $color-grey-dark-1;
        font-weight: 600;
    }

    &__jug-meter {
        color: $color-grey-dark-1;
        font-weight: 700;
        padding: 0 .5rem;
        background-image: linear-gradient(
            to right bottom,
            rgba($color-tertiary-light, .75),
            rgba($color-tertiary, .75));
    }

    &:hover {
        transform: scale(1.05);
    }

    &__heading-span {
        padding: 0 1rem;
        background-image: linear-gradient(
            to right bottom,
            rgba($color-secondary-light, .75),
            rgba($color-secondary, .75));
    }

    &--accident-list {
        height: 33rem;
    }
}

.form {
    padding: 2rem 4rem 2rem;

    &__group:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__label {
        font-size: 1.5rem;
        font-weight: 400;
        margin: .7rem 0 1rem 2rem;
        display: block;
        transition: all .2s ease-in-out;
        color: $color-grey-dark-3;

        &--comment {
            margin: .7rem 0 1rem 0;
        }
    }

    &__input {
        font-size: 2rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        margin-right: 3rem;
        background-color: rgba($color-secondary-light, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 40rem;

        transition: border-bottom .2s;

        &::placeholder {
            color: $color-grey-dark-2;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-secondary-light;

            &:invalid {
                border-bottom: 3px solid $color-tertiary;
            }

            &:valid {
                border-bottom: 3px solid $color-green;
            }
        }

        &--comment {
            width: 60rem;
            height: 30rem;
            resize: none;
        }
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5rem);
    }

    &__button {
        width: 20rem;
        height: 4rem;
        text-align: left;
        font-size: 1.5rem;
        font-family: inherit;
        letter-spacing: .1rem;
        color: inherit;
        padding-left: 2rem;
        margin-bottom: 2rem;
        border: solid 2px $color-secondary-dark;
        background-color: $color-grey-light-1;
        transition: all .2s ease-in-out;

        & span {
            font-size: 2rem;
            font-weight: 700;
            margin-left: .1rem;
            transition: margin-left .2s;
        }

        &:hover {
            border: solid 2px $color-tertiary;
            transform: translateY(-.2rem);
            box-shadow: 0 1rem 2rem rgba($color-black, .1);

            span {
                margin-left: 1.5rem;
            }
        }

        &--comment {
            width: 30rem;
            text-align: center;
            padding-right: 1.5rem;
        }
    }

    &--brand {
        width: 30rem;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.btn-wide {
    width: 30rem;
}

.bg-white {
    background-color: $color-white;
}

.mtb-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background-image:
        linear-gradient(45deg, transparent 50%, $color-grey-dark-3 50%),
        linear-gradient(135deg, $color-grey-dark-3 50%, transparent 50%),
        linear-gradient(to right, $color-grey-dark-3, $color-grey-dark-3);
    background-position:
        calc(100% - 25px) calc(1.2em + 2px),
        calc(100% - 20px) calc(1.2em + 2px),
        calc(100% - 2.5em) 0.7em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

.comment {
    &__author {
        font-size: 3.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        letter-spacing: .2rem;
    }

    &__text {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        font-weight: 300;
    }

    &__date {
        text-align: right;
    }
}

.alert {
    display: flex;
    align-items: center;
    padding-left: 8rem;
    box-shadow: none;
    height: 8rem;

    &:not(.visible) {
        display: none;
    }

    &__success {
        background-color: $color-green-dark;
    }

    &__error {
        background-color: $color-red;
    }

    &__icon {
        width: 5rem;
    }

    &__svg {
        width: 5rem;
        height: 5rem;
        fill: $color-grey-light-1;
    }

    &__message-container {
        flex: 1;
        
    }

    &__message {
        color: $color-grey-light-1;
    }

    &__close {
        border-radius: 10;

        &-button {
            width: 2.5rem;
            height: 2.5rem;
            fill: $color-grey-light-1;
            cursor: pointer;

            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}