.nav-main {
    background: linear-gradient(
        to right bottom,
        $color-primary,
        $color-primary-light);
    height: 18rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        align-items: flex-start;
    }

    &__name {
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: .6rem;
        text-decoration: none;
        color: $color-grey-light-3;
        margin-top: 1rem;
        transition: letter-spacing .1s, transform .4s, visibility .25s, opacity .25s;

        @media only screen and (max-width: $bp-medium) {
            font-size: 4.5rem;
            margin-top: 0;
            margin-left: 5rem;
            max-width: 70%;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 3rem;
            max-width: 60%;
            margin-left: 2rem;
        }

        &.inactive {
            @media only screen and (max-width: $bp-medium) {
                visibility: hidden;
                opacity: 0;
                transform: translateX(-150%) scale(2);
            }
        }

        &:hover {
            letter-spacing: .7rem;

            @media only screen and (max-width: $bp-medium) {
                letter-spacing: .6rem;
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 82%;
    margin-bottom: 1rem;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        font-size: 2rem;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        margin-bottom: 0;
        text-align: center;
        width: 0%;
        transform: translateX(-150%);

        transition: all .3s;

        &.active {
            width: 75%;
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__item {
        display: block;
        flex: 0 1 auto;
        list-style-type: none;
        position: relative;

        transition: all .3s;
        
        &:not(:last-child) {
            margin-right: 2rem;

            @media only screen and (max-width: $bp-medium) {
                margin-right: 0;
            }
        }
    }

    &__link:link,
    &__link:visited {
        font-size: 1.5rem;
        color: $color-grey-light-4;
        text-decoration: none;
        transition: all .2s;

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: .2rem;
            bottom: 0;
            left: 0;
            background-color: $color-tertiary;
            visibility: hidden;
            transition: all 0.15s ease-in-out;

            @media only screen and (max-width: $bp-medium) {
                height: 0;
            }
        }
    }

    &__link:hover {
        color: $color-grey-light-1;
        
        &:before {
            visibility: visible;
            width: 100%;
        }
    }   
}

.hamburger {
    display: none;
    margin-right: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: block;
        position: absolute;
        right: 4rem;
        top: auto;
        bottom: auto;
        cursor: pointer;
    }

    @media only screen and (max-width: $bp-smallest) {
        right: 2rem;
        margin-right: 0;
    }

    &__bar {
        display: block;
        width: 3rem;
        height: .3rem;
        margin: .5rem auto;
        background-color: $color-grey-light-3;

        transition: all .2s ease-in-out;
    }

    @media only screen and (max-width: $bp-medium) {
        &.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        &.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }


}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
    width: 100%;
    background: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary);
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    @media only screen and (max-width: $bp-medium) {
        height: 24rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column-reverse;
        height: 40rem;
        align-items: center;
        justify-content: space-around;
    }

    &__list {
        list-style-type: none;
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-left: 10rem;

        @media only screen and (max-width: $bp-small) {
            margin-left: 0;
            text-align: center;
        }
    }

    &__link:link,
    &__link:visited {
        color: $color-grey-dark-2;
        text-decoration: none;
        line-height: 3.5rem;
        transition: all .2s;
    }

    &__link:hover {
        color: $color-tertiary-light;
    }

    &__right-side {
        text-align: center;
        margin-right: 14rem;
        width: 30rem;

        @media only screen and (max-width: $bp-medium) {
            margin-right: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: $color-grey-dark-1;
        transition: all .15s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        &:hover,
        &:active {
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(3deg) scale(1.2);
        }
    }

    &__top {
        letter-spacing: .5rem;
        margin-bottom: -2rem;
    }

    &__bottom {
        letter-spacing: .65rem;
    }

    &__paragraph {
        color: $color-grey-dark-1;
        font-size: 1.4rem;
        font-weight: 400;
        max-width: 20rem;
        margin: 0 auto;
    }
}

.first-paragraph {
    font-size: 1.6rem;
    text-align: justify;
    color: $color-grey-dark-1;
    letter-spacing: .2rem;
    margin: 2rem 4rem 2rem;
    position: relative;

    @media only screen and (max-width: $bp-xsmall) {
        margin: 1.5rem 2.5rem 1.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        margin: 1rem;
    }

    &__link:link,
    &__link:visited {
        color: $color-tertiary;
        text-decoration: none;
        transition: all .2s;
    }

    &__link:hover {
        color: $color-tertiary-dark;
    }

    &__list {
        font-size: 1.6rem;
        text-align: left;
        color: $color-grey-dark-1;
        letter-spacing: .2rem;
        margin: 2rem 4rem 2rem 6.4rem;

        @media only screen and (max-width: $bp-xsmall) {
            margin: 2rem 2rem 2rem 4.7rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin: 2rem 1rem 2rem 3.2rem;
        }
    }

    &--episodes {
        margin: 2rem 0 2rem;
    }

    &--comments {
        margin: auto;
        width: 50%;
        border-top: .15rem solid $color-grey-dark-2;
        border-bottom: .15rem solid $color-grey-dark-2;
        padding: 2rem 0 2rem 0;
        letter-spacing: .5rem;
        font-size: 1.2rem;
        color: $color-grey-dark-2;
        
        transition: all .15s ease-in-out;
        
        &:hover {
            width: 52%;
        }
    }
}