<form action="/commentsForm/<%=episode._id%>" method="POST" class="text-center">
    <div class="form-group text-center mt-5">
        <label for="text text-center">Napisz komentarz:</label><br>
        <textarea class="commentsForm text-center" rows="4" cols="100" type="textarea" name="text"
            placeholder="Jeśli uważasz, że pomyliliśmy się w spisywaniu ilości wypadków samochodów danej marki w tym odcinku, napisz o tym." required></textarea>
    </div>
    <button type="submit" class="btn btn-primary text-center mb-5">Zostaw komentarz</button>
</form>