<div class="add-comment">
    <div class="comment__form">
        <form action="/commentsForm/<%=episode._id%>" method="POST" class="form text-center">
            <div class="form__group">
                <label for="text" class="form__label form__label--comment">Zostaw komentarz:</label>
                <textarea class="form__input form__input--comment" type="textarea" name="text" placeholder="Twój komentarz..."></textarea>
            </div>
            <button type="submit" class="form__button form__button--comment">Napisz komentarz <span class="form__button--arrow">&rarr;</span></button>
        </form>
    </div>
</div>