<% if(Object.keys(episode.comments).length > 0) { %>
    <% episode.comments.forEach(comment => { %>
        <div class="container container--comment bg-white">
            <div class="comment">
                <div class="comment__author">
                    <%= comment.author.name %>
                </div>

                <div class="comment__text">
                    <%= comment.text %>
                </div>

                <div class="comment__date modified" title="<%= moment(comment.created).format("dddd, D.MM.YYYY o HH:mm:ss"); %>">
                    Napisano: <%= moment(comment.created).fromNow(); %>
                </div>
            </div>
        </div>
    <% }); %>

<% } else { %>
    <p class="first-paragraph first-paragraph--comments text-center">Brak innych komentarzy.</p>
<% } %>
