
</div>
  <div class="footer">
    <p class="footer-title"><strong>Polskie Dzbany</strong></p>
    <p class="footer-paragraph">Z miłości do kierowców jeżdżących bezpiecznie ❤️</p>
  </div>
</div>
<!-- <script src="/js/scripts.js"></script> -->
</body>
</html>
