</body>

<footer>

<div class="footer">
  <div class="footer__left-side">
    <ul class="footer__list">
      <li class="footer__single-link"><a href="/">Strona Główna</a></li>
      <li class="footer__single-link"><a href="/about">O projekcie</a></li>
      <li class="footer__single-link"><a href="/episodes">Sprawdź dane</a></li>
      <li class="footer__single-link"><a href="/account">Twoje konto</a></li>
      <li class="footer__single-link"><a href="/privacy-policy">Polityka prywatności</a></li>
    </ul>
  </div>
  <div class="footer__right-side">
    <div class="footer__title"><strong>Polskie Dzbany</strong></div>
    <div class="footer__paragraph">Z miłości do kierowców jeżdżących bezpiecznie ❤️</div>
  </div>
</div>

</footer>

</html>
