<%- include("partials/header"); -%>

<div class="container">
    <h1>O projekcie Polskie Dzbany</h1>
    <p class="first-paragraph"> Przede wszystkim: <strong>ten projekt jest zrobiony dla zabawy, a nie na poważnie</strong>, więc nie bierzcie go na
        serio. </p>
    <p class="first-paragraph"> A teraz wyjaśnienie skrótowe: </p>
    <p class="first-paragraph"> Centralna Ewidencja Pojazdów i Kierowców podaje dane (co ciekawe - jedynie do ok. końca listopada 2019 r.) ze
        wszystkich pierwszych rejestracji samochodów w Polsce <a class="first-paragraph__link" href="http://www.cepik.gov.pl/" target="_blank">poprzez
        swoje api</a>. Stamtąd właśnie pobraliśmy dane o ilości zarejestrowanych
    samochodów danej marki. </p>
    <p class="first-paragraph"> Następnie zestawiliśmy te dane z ilością wypadków dóch serii: Polskie Drogi oraz Stop Cham poprzez wyciągnięcie
        procentowego udziału marek samochodów: w procencie pierwszych rejestracji oraz w procencie ilości wypadków, które
        spisaliśmy z odcinków. Dzięki temu uzyskaliśmy nasz autorski <em>Współczynnik Dzbana</em>. </p>
    <p class="first-paragraph"> Prawda, że beznadziejna metodologia? :D Bo nikt nigdy nie gwarantował, że ten serwis przedstawia dane rzetelne,
        jedynie chcieliśmy się przekonać czysto anegdotycznie co nam wyjdzie. </p>
    <p class="first-paragraph"> Spisując dane z wypadków mieliśmy następujące zasady:</p>
    <ol>
        <li class="first-paragraph__list">"Kto spowodował wypadek" postanawiamy wyłącznie na podstawie Prawa o Ruchu Drogowym. Nawet jeśli uważamy, że
            kierowca mimo naruszenia przepisów nie popełnił obiektywnego błędu. Prawo to prawo z bardzo dobrego powodu.
        </li>
        <li class="first-paragraph__list">Spisujemy jedynie sytuacje, w których ze 100% pewnością wiemy, jakiej marki kierowca spowodował wypadek.
            Sytuacje w najmniejszym stopniu niejasne nie są wzięte pod uwagę.</li>
        <li class="first-paragraph__list">Spisujemy jedynie wypadki i wykroczenia samochodów osobowych - bez ciężarówek, TIR-ów, traktorów i tak
            dalej.</li>
    </ol>
</div>

<%- include("partials/footer"); -%>