<%- include("partials/header"); -%>

<div class="container">
  <h1>Edytuj swoje konto</h1>
  
  <div class="edit-account">
    <div class="edit-account__form">
      <form action="/account" method="POST" class="form">

        <div class="form__group">
          <input type="text" class="form__input" id="InputName" aria-describedby="nameHelp" name="name" value="<%= locals.user.name %>" required>
          <label for="InputName" class="form__label">Imię lub nick</label>
        </div>

        <div class="form__group">
          <input type="email" class="form__input" id="InputEmail" aria-describedby="emailHelp" name="email" value="<%= locals.user.email %>" required>
          <label for="InputEmail" class="form__label">Adres e-mail</label>
        </div>

        <button type="submit" class="form__button">Zaktualizuj <span class="form__button--arrow">&rarr;</span></button>

      </form>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>