<%- include("partials/header"); -%>

    <h1>Dodaj dane z odcinka</h1>
    <p> Proszę mi tu ładnie dane uzupełniać! </p>

    <%- include("partials/_episodeForm"); -%>

<%- include("partials/footer"); -%>
