<%- include("partials/header"); -%>

<div class="container">
  <h1>Zaloguj się</h1>

  <div class="login">
    <div class="login__form">
      <form action="/login" method="POST" class="form">
        <div class="form__group">
          <input type="email" class="form__input" id="InputEmail" aria-describedby="emailHelp" name="email" placeholder="Adres e-mail" required>
          <label for="InputEmail" class="form__label">Adres e-mail</label>
        </div>

        <div class="form__group">
          <input type="password" class="form__input" id="InputPassword" name="password" placeholder="Hasło" required>
          <label for="InputPassword" class="form__label">Hasło</label>
        </div>
        <button type="submit" class="form__button">Zaloguj <span class="form__button--arrow">&rarr;</span></button>
      </form>
    </div>
  </div>

  <h2 class="secondary-heading">Zapomniałeś hasła?</h2>

  <div class="forgot-password">
    <div class="forgot-password__form">
      <form action="/account/forgot" method="POST" class="form">
        <div class="form__group">
          <input class="form__input" type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" name="email" placeholder="Adres e-mail" required>
          <label class="form__label" for="InputEmail">Adres e-mail</label>
        </div>
        <button type="submit" class="form__button">Zresetuj hasło <span class="form__button--arrow">&rarr;</span></button>
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>