* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
  max-width: 120rem;
  margin: 2rem auto 0;
  padding: 0 2rem; }

.nav-main {
  background: linear-gradient(to right bottom, #364f6b, #8695a6);
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: .2rem; }
  .nav-main__name {
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 0.6rem;
    text-decoration: none;
    color: #f0eeee;
    margin-top: 1rem;
    transition: all .1s; }
    .nav-main__name:hover {
      letter-spacing: 0.7rem; }

.menu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 1rem; }
  .menu__item {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    position: relative; }
    .menu__item:not(:last-child) {
      margin-right: 2rem; }
  .menu__link:link, .menu__link:visited {
    font-size: 1.5rem;
    color: #ccc;
    text-decoration: none;
    transition: all .2s; }
    .menu__link:link:before, .menu__link:visited:before {
      content: "";
      position: absolute;
      width: 0;
      height: .2rem;
      bottom: 0;
      left: 0;
      background-color: #fc5185;
      visibility: hidden;
      transition: all 0.15s ease-in-out; }
  .menu__link:hover {
    color: #faf9f9; }
    .menu__link:hover:before {
      visibility: visible;
      width: 100%; }

.footer {
  display: flex;
  height: 20rem; }
  .footer__left-side {
    background-color: orange; }
  .footer__list {
    list-style-type: none; }
  .footer__single-link {
    background-color: indianred; }
  .footer__right-side {
    background-color: green; }
  .footer__title {
    background-color: lightsalmon; }
  .footer__paragraph {
    background-color: mediumspringgreen; }

h1 {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-left: 4rem; }

.container {
  background-color: #faf9f9;
  padding: 2rem 4rem 2rem;
  margin: 2rem 0; }

.first-paragraph {
  font-size: 1.6rem;
  text-align: justify;
  color: #333;
  letter-spacing: .2rem;
  margin-top: 2rem;
  position: relative; }
  .first-paragraph__link:link, .first-paragraph__link:visited {
    color: #fc5185;
    text-decoration: none;
    transition: all .2s; }
  .first-paragraph__link:hover {
    color: #b0395d; }
  .first-paragraph__list {
    font-size: 1.6rem;
    text-align: left;
    color: #333;
    letter-spacing: .2rem;
    margin: 2rem 0 0rem 2.4rem; }

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .cards:not(:last-child) {
    margin-right: 4rem; }

.card {
  margin-bottom: 4rem;
  transition: all, .2s;
  height: 44rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative; }
  .card__image {
    background-size: cover;
    max-width: 35rem;
    margin-bottom: 1rem; }
  .card__heading {
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: .1rem;
    position: absolute;
    top: 18rem;
    right: 2rem; }
  .card__list {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__list [class*="--item"] {
      color: #999;
      text-align: center;
      font-size: 1.6rem;
      padding: 1.5rem 1rem;
      position: relative; }
      .card__list [class*="--item"]:not(:last-child):before {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 0;
        height: 1px;
        width: 50%;
        border-bottom: 1px solid #fea8c2; }
  .card__value {
    color: #333;
    font-weight: 600; }
  .card__jug-meter {
    color: #333;
    font-weight: 700;
    padding: 0 .5rem;
    background-image: linear-gradient(to right bottom, rgba(254, 168, 194, 0.75), rgba(252, 81, 133, 0.75)); }
  .card:hover {
    transform: scale(1.05); }
  .card__heading-span {
    padding: 0 1rem;
    background-image: linear-gradient(to right bottom, rgba(195, 236, 238, 0.75), rgba(63, 193, 201, 0.75)); }
